@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;800&family=Raleway:ital,wght@0,100;0,500;0,800;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(var(--indigo-purple) / 100%); */
  font-family: 'Nunito Sans';
  line-height: 1.5;
  color: rgb(var(--cool-grey) / 100%);
  font-size: 1rem;
  font-weight: 400;
}

@layer base {
  :root {
    --indigo-purple: 72 54 163; /* #4836A3 */
    --indigo-blue: 72 59 163; /* 483ba3 */
    --steel-blue: 79 137 165; /* #4788a3 */
    --cool-grey: 254 254 255; /* #F4F4FF */
    /* --ash-grey: 80, 80, 80; #505050  */

    --push-animation-duration: 2s;
  }
}

@layer components {
  .loader {
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 20px;
    top: 31px;
    border: 10px solid transparent;
    border-right-color: #fff;
    transform: rotate(-40deg);
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.animate-push {
  animation: push var(--push-animation-duration) ease-out forwards;
}

.animate-push-reaction {
  animation: push-reaction var(--push-animation-duration) ease-out forwards;
}

.animate-reset-push {
  animation: reset-pusher 1.5s linear forwards;
}

.animate-revealed-text {
  animation: reveal 0.5s linear forwards;
  animation-delay: var(--push-animation-duration);
}

.animate-reveal {
  animation: reveal 0.5s linear forwards;
}

@keyframes push {
  0% {
    width: 0;
  }

  20% {
    width: 60%;
  }

  40% {
    width: 50%;
  }

  60% {
    width: 80%;
  }

  80% {
    width: 70%;
  }

  100% {
    width: 100%;
  }
}

@keyframes push-reaction {
  0% {
    width: calc(100% - 0%);
  }

  20% {
    width: calc(100% - 60%);
  }

  40% {
    width: calc(100% - 60%);
  }

  45% {
    width: calc(100% - 60%);
  }

  60% {
    width: calc(100% - 80%);
  }

  80% {
    width: calc(100% - 80%);
  }

  85% {
    width: calc(100% - 80%);
  }

  99% {
    opacity: 1;
  }

  100% {
    width: calc(100% - 100%);
    opacity: 0;
  }
}

@keyframes reset-pusher {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}
